#containerSiteStatement {
  background: #2c3e50; }
  #containerSiteStatement #siteStatement .container-fluid {
    padding: 25px; }
    #containerSiteStatement #siteStatement .container-fluid p {
      color: #fff;
      margin: 0 0 20px; }
    #containerSiteStatement #siteStatement .container-fluid a {
      color: #fff;
      text-decoration: underline;
      display: inline-block; }
    #containerSiteStatement #siteStatement .container-fluid a:hover, #containerSiteStatement #siteStatement .container-fluid a:focus {
      color: #ddd;
      text-decoration: underline; }
    #containerSiteStatement #siteStatement .container-fluid a.submit {
      background: #c0392b;
      border-radius: 0;
      padding: 12px 20px;
      color: #fff;
      text-decoration: none; }
    #containerSiteStatement #siteStatement .container-fluid a.submit:hover, #containerSiteStatement #siteStatement .container-fluid a.submit:focus {
      background: #e74c3c;
      text-decoration: none; }

@media (max-width: 767px) {
  #containerSiteStatement #siteStatement p {
    font-size: 13px;
    line-height: 1.4em; }
  #containerSiteStatement #siteStatement a#ck_acpt {
    font-size: 14px;
    display: block;
    text-align: center;
    line-height: 1.4em; } }

ul.menu {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
  ul.menu li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.menu li a {
      font-size: 17px;
      font-weight: bold;
      padding: 11px 15px;
      line-height: 40px;
      min-height: 62px;
      display: block; }
      ul.menu li a:hover, ul.menu li a:focus {
        background: #dedede;
        text-decoration: none; }
      ul.menu li a.myAccount {
        margin: 10px;
        padding: 0px 15px;
        min-height: 38px;
        line-height: 38px;
        border: 1px solid; }
        ul.menu li a.myAccount span {
          padding: -2px 0 5px 0;
          display: inline-block; }
        ul.menu li a.myAccount:after {
          font-family: "FontAwesome";
          content: "\f007";
          font-size: 18px;
          padding: 0 5px; }
      ul.menu li a.main-menu, ul.menu li a.search {
        display: none;
        background: #fff; }
        ul.menu li a.main-menu:before, ul.menu li a.search:before {
          font-family: "FontAwesome";
          font-size: 25px;
          float: right; }
      ul.menu li a.search {
        background: #cdcdcd; }
        ul.menu li a.search:before {
          content: "\f002"; }
        ul.menu li a.search.active:before {
          content: "\f00d";
          padding: 0 2px; }
      ul.menu li a.search.active, ul.menu li a.search:hover, ul.menu li a.search:focus {
        background: #bdc3c7; }
      ul.menu li a.main-menu {
        background: #133E8D;
        color: #fff; }
        ul.menu li a.main-menu:before {
          content: "\f0c9";
          padding-left: 5px; }
        ul.menu li a.main-menu.active:before {
          content: "\f00d";
          padding-left: 7px; }
      ul.menu li a.main-menu:hover, ul.menu li a.main-menu:focus, ul.menu li a.main-menu.active {
        background: #0e2e69; }

@media (max-width: 767px) {
  ul.menu li a.main-menu,
  ul.menu li a.search {
    display: block; } }

@media (max-width: 600px) {
  ul.menu li a {
    padding: 9px 9px; } }

@media (max-width: 550px) {
  ul.menu li a.signin {
    display: none; }
  ul.menu li a.myAccount span {
    display: none; } }

.masterhead {
  background: #fff;
  width: 100%;
  position: relative; }
  .masterhead a.navbar-brand {
    background-image: url("images/lcclogo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px; }
  @media (max-width: 767px) {
    .masterhead .container-fluid {
      padding-right: 0px; } }

.logo {
  height: 148px;
  width: 280px;
  background: url("images/logo.png") center center no-repeat;
  margin: 20px 0; }
  @media (max-width: 767px) {
    .logo {
      height: 100px;
      margin: 20px auto; } }

.header-nav-container {
  position: relative; }
