h1 {
  font-size: 50px;
  margin: 0.75em 0 0.75em 0; }

h2, h3, h4, h5 {
  margin: 1.2em 0 0.4em 0; }

p, ol, ul {
  margin: 0.75em 0; }

ol, ul {
  padding-left: 1em; }

body {
  font-size: 16px;
  font-family: Arial;
  color: #333;
  background-color: #fff; }

ul.cbs-List {
  display: block;
  margin: 0px; }

.ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {
  display: block; }

.ms-rtestate-field h1, .ms-rtestate-field h2, .ms-rtestate-field h3, .ms-rtestate-field h4, .ms-rtestate-field h5 {
  font-family: Arial;
  color: #333;
  font-weight: 400; }
  .ms-rtestate-field h1.ms-rteElement-H2, .ms-rtestate-field h2.ms-rteElement-H2, .ms-rtestate-field h3.ms-rteElement-H2, .ms-rtestate-field h4.ms-rteElement-H2, .ms-rtestate-field h5.ms-rteElement-H2 {
    font-family: Arial;
    color: #333;
    font-weight: 400; }

#s4-bodyContainer {
  padding-bottom: 0px; }

/*overide bootstrap*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 0px; }

.header-nav-container {
  position: relative; }

/**********************
BACK TO THE TOP
********************/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8) "url('images/cd-top-arrow.svg')" no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: black;
  opacity: 1; }

@media only screen and (min-width: 767px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }

/*BACK TO TOP END*/
/*link styles*/
a[rel]:after {
  font-family: FontAwesome;
  padding: 0 5px; }

a[rel="xl"]:after {
  content: "\f1c3"; }

a[rel="pdf"]:after {
  content: "\f1c1"; }

a[rel="doc"]:after {
  content: "\f1c2"; }

a[rel="pp"]:after {
  content: "\f1c4"; }

a[rel="external"]:after {
  content: "\f08e"; }

.spacer {
  padding-top: 20px;
  display: block; }

.clearfix {
  clear: both; }

.btn, .button {
  padding: 15px 20px;
  border-radius: 0px; }

.btn-primary, .button {
  background: green;
  border: 1px solid;
  box-shadow: inset 0 1px 1px #00b300; }
  .btn-primary:hover, .button:hover {
    background: #004d00; }

.btn, .button {
  border-color: green;
  position: relative;
  padding-right: 55px;
  color: #fff; }
  .btn.btn-default, .btn.alt, .button.btn-default, .button.alt {
    border-color: green;
    border: 1px solid;
    box-shadow: none;
    color: green;
    background: transparent; }
    .btn.btn-default:hover, .btn.alt:hover, .button.btn-default:hover, .button.alt:hover {
      background: #004d00;
      color: #fff; }
  .btn:after, .button:after {
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 2.8em;
    content: "\f105";
    position: absolute;
    right: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 13px !important;
    top: 0px; }

/*BOOTSTRAP OVERIDES*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 20px;
  padding-left: 20px; }

.container-fluid {
  max-width: 1500px; }

.container-fluid.full {
  max-width: 100%; }

.content-block {
  max-width: 48em;
  padding-bottom: 2.5em; }

/*SKIP LINKS*/
a.skip {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999; }

a.skip:focus, a.skip:active {
  left: 0.625em;
  top: 0.625em;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 999;
  padding: 0.625em; }

/*SKIP LINKS END*/
.sectionOne {
  background: #f2f2f2; }

.sectionTwo {
  background: #e6e6e6; }

.sectionThree {
  background: white; }

.sectionFour {
  background: white; }

#containerSiteStatement {
  background: #2c3e50; }
  #containerSiteStatement #siteStatement .container {
    padding: 25px; }
    #containerSiteStatement #siteStatement .container p {
      color: #fff;
      margin: 0 0 20px; }
    #containerSiteStatement #siteStatement .container a {
      color: #fff;
      text-decoration: underline;
      display: inline-block; }
    #containerSiteStatement #siteStatement .container a:hover, #containerSiteStatement #siteStatement .container a:focus {
      color: #ddd;
      text-decoration: underline; }
    #containerSiteStatement #siteStatement .container a#ck_acpt {
      background: #c0392b;
      border-radius: 0;
      padding: 12px 20px;
      color: #fff;
      text-decoration: none; }
    #containerSiteStatement #siteStatement .container a#ck_acpt:hover, #containerSiteStatement #siteStatement .container a#ck_acpt:focus {
      background: #e74c3c;
      text-decoration: none; }

@media (max-width: 767px) {
  #containerSiteStatement #siteStatement p {
    font-size: 13px;
    line-height: 1.4em; }
  #containerSiteStatement #siteStatement a#ck_acpt {
    font-size: 14px;
    display: block;
    text-align: center;
    line-height: 1.4em; } }

.ms-srch-sb > input {
  width: 100%;
  min-width: 300px;
  margin: 0 -1px 0 0;
  padding-left: 5px;
  min-height: 40px;
  line-height: 2em;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

.ms-srch-sb > .ms-srch-sb-searchLink {
  border: none;
  background: #337ab7;
  color: #fff;
  font-size: 13px;
  position: absolute;
  right: -1px;
  top: 0px;
  width: 60px;
  height: 40px;
  min-height: 40px;
  padding: 0 15px;
  display: block; }

.ms-srch-sb > .ms-srch-sb-searchLink:hover, .ms-srch-sb > .ms-srch-sb-searchLink:focus {
  background: #333;
  text-decoration: none; }

.ms-srch-sb > .ms-srch-sb-searchLink img {
  display: none; }

.ms-srch-sb > .ms-srch-sb-searchLink:before {
  font-family: "Glyphicons Halflings";
  content: "\e003";
  font-size: 25px; }

.ms-srch-sb-border, .ms-srch-sb-border:hover {
  border: none;
  width: 100%; }

#nav-search {
  float: left;
  margin: 10px; }

@media (max-width: 767px) {
  #nav-search {
    position: absolute;
    top: 62px;
    left: 0px;
    background: #bdc3c7;
    padding: 20px 25px 15px 25px;
    margin: 0px;
    height: auto;
    width: 100%;
    z-index: 10;
    display: none; }
    #nav-search.active {
      display: block; }
    #nav-search .input-group {
      margin: 0 !important;
      width: 100%; }
    #nav-search .ms-srch-sb > input {
      min-width: 250px; }
    #nav-search .ms-srch-sb > .ms-srch-sb-searchLink {
      height: 43px;
      min-height: 43px; } }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

ul.menu {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
  ul.menu li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.menu li a {
      font-size: 17px;
      font-weight: bold;
      padding: 11px 15px;
      color: #337ab7;
      line-height: 40px;
      min-height: 62px;
      display: block; }
      ul.menu li a:hover, ul.menu li a:focus {
        background: #dedede;
        text-decoration: none; }
      ul.menu li a.myAccount {
        margin: 10px;
        padding: 0px 15px;
        min-height: 38px;
        line-height: 38px;
        border: 1px solid; }
        ul.menu li a.myAccount span {
          padding: -2px 0 5px 0;
          display: inline-block; }
        ul.menu li a.myAccount:after {
          font-family: "FontAwesome";
          content: "\f007";
          font-size: 18px;
          padding: 0 5px; }
      ul.menu li a.main-menu, ul.menu li a.search {
        display: none;
        background: #fff; }
        ul.menu li a.main-menu:before, ul.menu li a.search:before {
          font-family: "FontAwesome";
          font-size: 25px;
          float: right; }
      ul.menu li a.search {
        background: #cdcdcd; }
        ul.menu li a.search:before {
          content: "\f002"; }
        ul.menu li a.search.active:before {
          content: "\f00d";
          padding: 0 2px; }
      ul.menu li a.search.active, ul.menu li a.search:hover, ul.menu li a.search:focus {
        background: #bdc3c7; }
      ul.menu li a.main-menu {
        background: #133E8D;
        color: #fff; }
        ul.menu li a.main-menu:before {
          content: "\f0c9";
          padding-left: 5px; }
        ul.menu li a.main-menu.active:before {
          content: "\f00d";
          padding-left: 7px; }
      ul.menu li a.main-menu:hover, ul.menu li a.main-menu:focus, ul.menu li a.main-menu.active {
        background: #0e2e69; }

@media (max-width: 767px) {
  ul.menu li a.main-menu,
  ul.menu li a.search {
    display: block; } }

@media (max-width: 600px) {
  ul.menu li a {
    padding: 9px 9px; } }

@media (max-width: 550px) {
  ul.menu li a.signin {
    display: none; }
  ul.menu li a.myAccount span {
    display: none; } }

.masterhead {
  background: #f4f4f4;
  width: 100%;
  position: relative; }
  .masterhead a.navbar-brand {
    background: "url('images/lcclogo.svg')" center center no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px; }
  @media (max-width: 767px) {
    .masterhead .container-fluid {
      padding-right: 0px; } }

/***********
MAIN MENU
*********/
/*sharepoint styles overide*/
.ms-core-listMenu-root {
  padding: 0px; }

.s4-tn li.static > .menu-item {
  border: none;
  height: auto; }

.ms-core-navigation {
  font-family: Arial; }

.ms-core-listMenu-horizontalBox {
  display: block; }

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
  margin-right: 0px;
  border: none;
  margin-left: 0px; }

.s4-tn li.static > .menu-item {
  border: none;
  height: auto; }

.ms-core-listMenu-item, .ms-core-listMenu-item:link, .ms-core-listMenu-item:visited, .ms-tv-item:link, .ms-tv-item:visited, .ms-tv-header:link, .ms-tv-header:visited {
  color: #fff; }

.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, a.ms-tv-item:hover, a.ms-tv-header:hover, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link {
  background-color: #103477;
  color: #fff; }

/*sharepoint styles overide*/
.main-nav {
  background: #133E8D;
  z-index: 1; }
  .main-nav ul {
    display: inline-block;
    margin: 0px;
    padding: 0px; }
    .main-nav ul li {
      display: inline-block; }
      .main-nav ul li a {
        padding: 1em;
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        color: #fff; }
      .main-nav ul li a:hover, .main-nav ul li a:focus {
        background-color: #103477;
        color: #fff;
        text-decoration: none; }
      .main-nav ul li a.selected {
        background: #11367b !important; }
  .main-nav ul ul {
    display: none;
    margin: 0;
    padding: 0.65em;
    position: absolute;
    width: 300px;
    z-index: 10000 !important;
    background-color: #103477;
    background-color: #103477; }
    .main-nav ul ul li {
      display: block;
      border-bottom: 1px solid #0e2e69; }
      .main-nav ul ul li:first-of-type {
        border-top: 1px solid #0e2e69; }
      .main-nav ul ul li a {
        display: block !important;
        width: 100%;
        padding: 0.65em; }
        .main-nav ul ul li a:hover {
          background: #0e2e69; }
  .main-nav li:hover > ul {
    display: block; }

@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    left: -1000px;
    top: 0px;
    z-index: 10;
    min-height: 640px;
    width: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; }
    .main-nav .container-fluid {
      padding: 20px; }
    .main-nav.active {
      left: 0px; }
    .main-nav .container-fluid ul li {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0px;
      padding-top: 0 !important;
      width: 100%; }
      .main-nav .container-fluid ul li a {
        width: 100%;
        background: none; }
        .main-nav .container-fluid ul li a:hover, .main-nav .container-fluid ul li a:focus {
          background: rgba(0, 0, 0, 0.2); }
        .main-nav .container-fluid ul li a.selected {
          background: none;
          color: #000; }
      .main-nav .container-fluid ul li ul {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0px;
        background: none;
        float: left;
        padding: 0px 0 10px 0;
        border: none; }
        .main-nav .container-fluid ul li ul li {
          border: none;
          float: left; }
          .main-nav .container-fluid ul li ul li a {
            font-size: 16px;
            background: none;
            padding: 5px 20px;
            color: #fff; }
        .main-nav .container-fluid ul li ul.active {
          display: block; } }

@media (max-width: 767px) {
  .main-nav .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
    margin-left: 0px; }
  .menu-horizontal {
    width: 100%; }
  .ms-core-listMenu-horizontalBox, .ms-core-listMenu-horizontalBox ul {
    display: block; }
  .ms-core-listMenu-horizontalBox li.static, .ms-core-listMenu-horizontalBox a.static, .ms-core-listMenu-horizontalBox span.static {
    width: 100%; } }

ul.menu {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
  ul.menu li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.menu li a {
      font-size: 17px;
      font-weight: bold;
      padding: 11px 15px;
      color: #337ab7;
      line-height: 40px;
      min-height: 62px;
      display: block; }
      ul.menu li a:hover, ul.menu li a:focus {
        background: #dedede;
        text-decoration: none; }
      ul.menu li a.myAccount {
        margin: 10px;
        padding: 0px 15px;
        min-height: 38px;
        line-height: 38px;
        border: 1px solid; }
        ul.menu li a.myAccount span {
          padding: -2px 0 5px 0;
          display: inline-block; }
        ul.menu li a.myAccount:after {
          font-family: "FontAwesome";
          content: "\f007";
          font-size: 18px;
          padding: 0 5px; }
      ul.menu li a.main-menu, ul.menu li a.search {
        display: none;
        background: #fff; }
        ul.menu li a.main-menu:before, ul.menu li a.search:before {
          font-family: "FontAwesome";
          font-size: 25px;
          float: right; }
      ul.menu li a.search {
        background: #cdcdcd; }
        ul.menu li a.search:before {
          content: "\f002"; }
        ul.menu li a.search.active:before {
          content: "\f00d";
          padding: 0 2px; }
      ul.menu li a.search.active, ul.menu li a.search:hover, ul.menu li a.search:focus {
        background: #bdc3c7; }
      ul.menu li a.main-menu {
        background: #133E8D;
        color: #fff; }
        ul.menu li a.main-menu:before {
          content: "\f0c9";
          padding-left: 5px; }
        ul.menu li a.main-menu.active:before {
          content: "\f00d";
          padding-left: 7px; }
      ul.menu li a.main-menu:hover, ul.menu li a.main-menu:focus, ul.menu li a.main-menu.active {
        background: #0e2e69; }

@media (max-width: 767px) {
  ul.menu li a.main-menu,
  ul.menu li a.search {
    display: block; } }

@media (max-width: 600px) {
  ul.menu li a {
    padding: 9px 9px; } }

@media (max-width: 550px) {
  ul.menu li a.signin {
    display: none; }
  ul.menu li a.myAccount span {
    display: none; } }

footer.main {
  margin: 0;
  background: #133E8D;
  padding: 0px 0px 0px 0px; }
  footer.main .container-fluid {
    padding: 25px 0; }
  footer.main p {
    color: #fff; }
  footer.main .footer {
    background: #133E8D; }
    footer.main .footer ul {
      display: block; }
      footer.main .footer ul li:first-child:nth-last-child(1),
      footer.main .footer ul li:first-child:nth-last-child(1) ~ li {
        width: 100%; }
        footer.main .footer ul li:first-child:nth-last-child(1) li,
        footer.main .footer ul li:first-child:nth-last-child(1) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(2),
      footer.main .footer ul li:first-child:nth-last-child(2) ~ li {
        width: 50%; }
        footer.main .footer ul li:first-child:nth-last-child(2) li,
        footer.main .footer ul li:first-child:nth-last-child(2) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(3),
      footer.main .footer ul li:first-child:nth-last-child(3) ~ li {
        width: 33.33333%; }
        footer.main .footer ul li:first-child:nth-last-child(3) li,
        footer.main .footer ul li:first-child:nth-last-child(3) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(4),
      footer.main .footer ul li:first-child:nth-last-child(4) ~ li {
        width: 25%; }
        footer.main .footer ul li:first-child:nth-last-child(4) li,
        footer.main .footer ul li:first-child:nth-last-child(4) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(5),
      footer.main .footer ul li:first-child:nth-last-child(5) ~ li {
        width: 20%; }
        footer.main .footer ul li:first-child:nth-last-child(5) li,
        footer.main .footer ul li:first-child:nth-last-child(5) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(6),
      footer.main .footer ul li:first-child:nth-last-child(6) ~ li {
        width: 16.66667%; }
        footer.main .footer ul li:first-child:nth-last-child(6) li,
        footer.main .footer ul li:first-child:nth-last-child(6) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(7),
      footer.main .footer ul li:first-child:nth-last-child(7) ~ li {
        width: 14.28571%; }
        footer.main .footer ul li:first-child:nth-last-child(7) li,
        footer.main .footer ul li:first-child:nth-last-child(7) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(8),
      footer.main .footer ul li:first-child:nth-last-child(8) ~ li {
        width: 12.5%; }
        footer.main .footer ul li:first-child:nth-last-child(8) li,
        footer.main .footer ul li:first-child:nth-last-child(8) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(9),
      footer.main .footer ul li:first-child:nth-last-child(9) ~ li {
        width: 11.11111%; }
        footer.main .footer ul li:first-child:nth-last-child(9) li,
        footer.main .footer ul li:first-child:nth-last-child(9) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(10),
      footer.main .footer ul li:first-child:nth-last-child(10) ~ li {
        width: 10%; }
        footer.main .footer ul li:first-child:nth-last-child(10) li,
        footer.main .footer ul li:first-child:nth-last-child(10) ~ li li {
          width: 100%; }
      footer.main .footer ul li {
        display: block;
        float: left;
        padding: 0 15px; }
        footer.main .footer ul li a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
          padding: 10px;
          font-size: 18px;
          margin-left: 0px;
          color: #fff !important;
          display: block; }
        footer.main .footer ul li a:hover, footer.main .footer ul li a:focus {
          background: rgba(0, 0, 0, 0.2);
          text-decoration: none; }
        footer.main .footer ul li a.selected {
          background-color: rgba(0, 0, 0, 0.2) !important; }
        footer.main .footer ul li ul {
          display: block;
          padding: 0px;
          margin: 0 0 0 0px;
          position: relative; }
          footer.main .footer ul li ul li {
            width: 100%;
            margin: 0px;
            border: none;
            padding: 0px; }
            footer.main .footer ul li ul li:last-of-type {
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              display: block; }
            footer.main .footer ul li ul li a {
              font-size: 15px;
              padding: 10px;
              border-bottom: none !important; }
              footer.main .footer ul li ul li a:hover, footer.main .footer ul li ul li a:focus {
                background: rgba(0, 0, 0, 0.2);
                color: #fff; }
    @media (max-width: 1200px) {
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
    @media (max-width: 1000px) {
      footer.main .footer li:first-child:nth-last-child(6),
      footer.main .footer li:first-child:nth-last-child(6) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(7),
      footer.main .footer li:first-child:nth-last-child(7) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
    @media (max-width: 767px) {
      footer.main .footer li {
        width: 100%;
        border-bottom: none;
        margin: 0px !important; }
      footer.main .footer li:first-child:nth-last-child(1),
      footer.main .footer li:first-child:nth-last-child(1) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(2),
      footer.main .footer li:first-child:nth-last-child(2) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(3),
      footer.main .footer li:first-child:nth-last-child(3) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(4),
      footer.main .footer li:first-child:nth-last-child(4) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(5),
      footer.main .footer li:first-child:nth-last-child(5) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(6),
      footer.main .footer li:first-child:nth-last-child(6) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(7),
      footer.main .footer li:first-child:nth-last-child(7) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
  footer.main .socialBookmarks {
    background: transparent;
    padding: 0px;
    margin: 0 0 1.875em; }
    footer.main .socialBookmarks h2 {
      color: #fff; }
    @media (max-width: 991px) {
      footer.main .socialBookmarks ul li:first-of-type {
        display: block;
        padding-bottom: 0.65em; } }
    footer.main .socialBookmarks .facebook:after, footer.main .socialBookmarks .twitter:after, footer.main .socialBookmarks .youtube:after {
      font-family: FontAwesome;
      font-size: 25px;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 42px;
      height: 42px;
      display: block;
      text-align: center;
      padding-top: 3px;
      color: #fff; }
    footer.main .socialBookmarks a:hover:after {
      background: #fff;
      color: #133E8D;
      text-decoration: none; }
  @media (max-width: 767px) {
    footer.main .text-right {
      text-align: left; } }
  footer.main p {
    margin-bottom: 1.875em; }
  footer.main .footerGlobal {
    background: #11367b; }

.footerGlobal nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 1.875em 0; }
  .footerGlobal nav ul li {
    display: inline-block; }
  .footerGlobal nav ul li:after {
    content: '|';
    color: #fff;
    padding: 0 0.625em; }
  .footerGlobal nav ul a {
    color: #fff; }

.logo-footer span {
  background: "url('images/lcc-logo-white-01.svg')" center center no-repeat;
  background-size: 100%;
  width: 150px;
  height: 45px;
  display: block;
  margin: 0 0 1.875em; }
